.Rproj.user
.Rhistory
.RData
.Ruserdata
data/original/*
!data/original/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/final/*
!data/final/.gitkeep
metadata_info/metadata/*
!metadata_info/metadata/.gitkeep
